
@import url('https://fonts.googleapis.com/css?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
body {
    background: rgb(19, 19, 19);
    color: #fff;
    font-family: 'Noto Sans', sans-serif;
}
.textt{
    font-family: 'Bebas Neue', sans-serif;
    font-size:120px;
    font-style:bold;
    text-align:center;
    height: 140px;
}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #353535;
    font-size: 1rem;
    color: #fff;
    box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
    height: 100%;
    width: 100%;
    border-radius: 4px;
    transition: all 500ms;
    overflow: hidden;

    background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
 }
  
.item:hover {
    box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
    transform: translateY(-3px) scale(1.2);
 }

 .Headtext{
    font-size: 3rem;
    color: #c3deff;
    font-weight: 500;
}

.two{
    font-size: 3rem;
    color: #c3deff;
    font-weight: 500;
    
   
}

.bodytext{
    
    font-size: 1rem;
    color: #ffffff;
    padding-top: 10%;
}

.bodytext-two{
    
    font-size: 1rem;
    color: #c7c7c7;
    padding-top: 0;
}

h2{
    padding-top: 10%;
}